/* تنسيقات عامة */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  direction: rtl;
}

header, footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 15px;
}

main {
  padding: 20px;
}

form {
  max-width: 600px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#results {
  max-width: 600px;
  margin: 20px auto;
  background-color: #f9f9f9;
  padding: 20px;
}

#results p {
  font-size: 18px;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  form, #results {
    width: 100%;
  }
}
